<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <!-- 정적 백엔드 response 데이터 : 스크립틀릿 태그 사용 -->
        <!-- 동적 백엔드 response 데이터 : axios, ajax, fetch -->
        <img src="<%= userfile %>" alt="" /><br />
        <h3><%=userId %>님 환영합니다!</h3>
        <div>비밀번호 : <%=userPw %></div>
        <div>이름 : <%=userName %></div>
        <div>나이 : <%=userAge %></div>
    </body>
</html>
